body {
    background-image: url("https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FmZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainContainer {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 0px;
    width: 1380px;
    height: 840px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
    position: relative;
}

.title {
    font-size: 28pt;
    font-family: "Consolas";
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 15px 0px 15px 0px;
    border-style: groove;
    border-width: thick;
    border-radius: 10px;
    border-color: rgb(169, 194, 231);
    border-bottom-style: dotted;
    border-top-style: dotted;
}
